body{
  text-align: center;
  background-color: beige;
}
.card-grid{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 2rem;
}
img{
  padding: 10px;
  width: 200px;
  align-items: center;
}